@import "Color/index";

@mixin reset-appearance
{
    @include reset-color;
}

@mixin psuedo-vertical-border-appearance
{
    background-color: rgb(100, 100, 100);
}

@mixin button-appearance-reset
{
    border: none;
    appearance: none;
    outline: none;
    background-color: rgb(100, 100, 100);
    color: white;
}

@mixin chat-input-appearance
{
    border: none;
    appearance: none;
    outline: none;
    background-color: none;
    color: white;
    font-size: 2em;
    padding: 1em;
}
